*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug header{

    height: 50px;
    background-color:rgba(0, 140, 255, 0.308);
    display: flex;
}
.container{
    display:flexbox;
}

