*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
.debug{
    border: 1px solid black;

}
header{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 217, 255);
}
.logo, .login{
    width:10%;
    height:35px;
    background-color: orange;

    
}
.link{
    width:30%;
    height:35px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    display: flex;
    align-items: center;
}
.login{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
    


